.appLink {
    color: var(--ui-control--primary);
    font-size: 11px;
    text-decoration: none;
}
.appLink--warning {
    color: var(--ui-warning);
}
.appLink:hover {
    text-decoration: underline;
}
.island{
    box-shadow: 0 0 6px var(--ui--shadow);
    background: var(--typo--ui-primary);
    border-radius: 12px;
    user-select: none;
}
.appBtn{
    border-radius: 8px;
    font-size: 13px;
    line-height: 13px;
    color: var(--typo--ui-primary);
    border: none;
    padding: 12px;
    background-color: var(--ui-control--primary);
    cursor: pointer;
    transition: var(--ui-transition);
}
.appBtn:hover{
    box-shadow: 5px 5px 5px var(--ui--shadow), -5px 5px 5px var(--ui--shadow);
}

.listItem{
    border:none;
    border-bottom: 1px solid var(--ui-secondary);
    padding: 10px 0;
}
.listItem:last-of-type{
    border-bottom: none;
}
