:root {
    --typo--primary: hsl(0, 0%, 12%);

    --ui-control--primary: hsl(223, 89%, 58%);
    --typo--ui-primary: hsl(225, 100%, 100%);

     --ui-bg--primary: hsl(0, 0%, 100%);
    --ui-bg--secondary: hsl(0, 0%, 98%);

    --typo--ui-secondary: hsl(0, 0%, 60%);
    --typo--ui-accent: hsl(0, 0%, 100%);

    --ui-secondary: hsl(0, 0%, 94%);

    --ui--shadow: hsla(0, 0%, 0%, 0.14);
    --ui-warning: hsl(0, 100%, 50%);
    --ui-transition: .2s linear;
}
