.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:45px;
}
.form__header{
    font-size: 15px;
    line-height: 20px;
}
.form__submit{
    width: 100%;
}
.form__uploadInput{
    width: 100%;
}
.form__uploadInputSrc{
    display: none;
}
