.list {
    display: flex;
    flex-direction: column;
    padding: 0 0 10px;
    margin: 0;
    overflow: auto;
}

.list::-webkit-scrollbar {
    width: 5px;
}

.list::-webkit-scrollbar-track {
    background-color: var(--ui-bg--secondary);
}

.list::-webkit-scrollbar-thumb {
    background-color: var(--ui-secondary);
}

.list__itemContent {
    z-index: 1;
}

.list__itemCustom {

    padding: 12px 10px;
}
.list__item {
    list-style: none;
    border-top: 1px solid var(--ui-secondary);
    position: relative;
}

.list__item_selected::after {
    content: "";
    height: 96%;
    width: 100%;
    background: var(--ui-success);
    top: 2%;
    left: 0;
    position: absolute;
}

.list__item:last-of-type {
    border-bottom: 1px solid var(--ui-secondary);
}
